.its_invisible_not_oled_burnout {
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: 100;
    opacity: .03;
    transition: all .5s ease-out;
}

.its_invisible_not_oled_burnout:hover {
    opacity: 1;
    transition: all .5s ease-out;
}


.gamestart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right bottom, #ffffff 50%, #fff3eb 50%);
}

.gamestart_text {
    text-align: left;
    font-size: 56px;
    font-weight: 600;
    margin: 0 0 64px 0;
}

.gamestart svg {
    width: 322px;
    margin-right: 130px;
}

@media only screen and (max-width: 400px) {
    .its_invisible_not_oled_burnout {
        display: none;
    }

    .gamestart {
        position: relative;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100vh;
    }

    .gamestart_text {
        margin-top: 45px !important;
        font-size: 40px;
    }

    .gamestart svg {
        width: 200px;
        margin: 0 auto;
    }

    .gamestart_button {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 510px) {
    .gamestart_text {
        font-size: 46px;
    }
}

@media only screen and (max-width: 1200px) {
    .gamestart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gamestart_text {
        text-align: center;
        margin-top: 25px;
    }

    .gamestart_button {
        margin: 0 auto;
    }
}
